@mixin light-palette {
  --theme-color--paper: hsl(263, 40%, 96%, 0.95);
  --theme-color--ink: hsla(220, 78%, 29%, 1);
  --theme-color--ink-fade: hsla(220, 78%, 29%, 0.25);
  --theme-color--accent: hsl(146, 100%, 46%);
  --theme-color--shade: hsla(228, 70%, 53%, 0.5);
  --theme-color--brand: hsl(0, 100%, 67%);
  --theme-color--pop: hsl(262, 100%, 67%);

  --theme-color--contrast-max: hsla(0, 0%, 100%, 1);
  //greys
  --hue: 260;
  --sat: 35%;
  --lum: 90%;
  --alpha: 0.95;
  --hsl: var(--hue), var(--sat), var(--lum);
  --theme-color--block: hsla(var(--hsl), var(--alpha));
  --theme-color--outline: hsl(var(--hsl) / 0.25);
  // backdrop
  --theme-color--backdrop-from: hsl(var(--hsl) / 0.25);
  --theme-color--backdrop-to: hsl(var(--hsl) / 0.2);
}

@mixin dark-palette {
  --theme-color--paper: hsl(274deg 13% 5% / 95%);
  --theme-color--ink: hsla(228, 100%, 88%, 1);
  --theme-color--ink-fade: rgba(240, 240, 240, 0.25);
  --theme-color--accent: hsl(136, 53%, 44%);
  --theme-color--contrast-max: hsla(0, 0%, 0%, 1);
  // greys
  --theme-color--block: hsla(0, 0%, 0%, 0.95);
  --theme-color--outline: hsla(0, 0%, 89%, 1);
  // backdrop
  --theme-color--backdrop-from: hsla(0, 0%, 0%, 0.99);
  --theme-color--backdrop-to: hsla(0, 0%, 0%, 0.69);
}

:root {
  @include light-palette();
  @media (prefers-color-scheme: dark) {
    @include dark-palette();
  }
}

// see states for classes that toggle these
// no classes in the variables folder
