:root {
  --theme-font--display: "Space Grotesk", serif;
  --theme-font--copy: "Inter", "Space Grotesk", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --theme-font--brand: 900 2.5rem "Raleway", monospace;
  --theme-font--system: 100 100%/2 "Monaco", "Menlo", monospace;
}
