<header class="l-page__header c-page-header">
  <!-- content -->
  <div class="c-page-header__container">
    <div class="c-page-header__breadcrumbs">
      {{ partial "breadcrumbs.html" . }}
    </div>
    <h1 class="c-page-header__title e-heading__1">
      {{ with .Page.Params.emoji }}{{.}} {{end}} {{ .Page.Title }}
    </h1>
    {{ if eq .Page.Params.layout "backlog" }}
    <h2 class="c-page-header__subtitle c-page-header__backlog e-heading__2">
      {{ .Page.Params.backlog }}
      <a class="c-page-header__link" href="{{ .Page.Site.Params.org }}/{{ . }}"
        >🔗</a
      >
    </h2>
    {{ end }} {{with .Description }}
    <h3 class="c-page-header__description">{{.}}</h3>
    {{end}}
    <!-- edit on github TODO match paths-->
    {{/* {{$pathAsString := print $.Site.Params.tree .Path }}
    {{$changeIndexToReadMe := replace $pathAsString "index.md" "README.md"}}
    <a
      class="c-page-header__edit e-heading__5 e-link is-none--lt-container"
      href="{{$changeIndexToReadMe}}"
      >{{ partial "github-icon.html" . }}
      <span class="is-invisible">Edit on GitHub</span></a
    >
    */}}
    <!--TOC-->
    {{ if and (gt .Page.WordCount 400) (.Page.TableOfContents) }}
    <section class="c-page-header__toc c-toc" id="toc">
      {{ .Page.TableOfContents }}
    </section>
    {{ end }} {{ partial "lastmod.html" . }}
  </div>
  <!-- picture -->
  {{ with .Page.Resources.GetMatch "hero" }} {{ partial "picture.html" (dict
  "pictureClass" "c-page-header__picture" "resource" .) }} {{ end }}
</header>
