.c-cells {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  gap: var(--theme-spacing--gutter);
  @include backdrop();
  margin-bottom: var(--theme-spacing--6);

  &__cell {
    aspect-ratio: 4/3;
  }
}
