.c-page-header {
  --gap: var(--theme-spacing--gutter);

  @include grid-assign(
    container,
    picture,
    title,
    subtitle,
    description,
    breadcrumbs,
    lastmod,
    toc,
    edit
  );
  @include grid-breakout();
  grid-template:
    " . ... . " var(--gap)
    " . container ." minmax(0, 1fr)
    " . ... ." 0 / minmax(var(--gap), 1fr)
    var(--theme-spacing--container) minmax(var(--gap), 1fr);

  pointer-events: none; // just make sure we retain the option of breakout hero headers without interfering with the weirdy menu button
  &__container {
    pointer-events: all;
    display: grid;
    grid-template:
      ".              .   .        " var(--gap)
      "breadcrumbs    .   edit     " min-content
      "title          .   .        " min-content
      "subtitle       .   .        " min-content
      "description    .   .        " min-content
      "toc            toc toc      " auto
      ".              .   lastmod  " min-content / 1fr var(--gap) minmax(0, 1fr);
  }
  &__title {
    line-height: 0.75;
    text-shadow: -2px 1px 0 var(--theme-color--pop);
    background-color: var(--theme-color--accent);
    margin-bottom: var(--theme-spacing--1);
  }
  &__edit {
    color: var(--theme-color--contrast-max);
    font-size: var(--theme-type-size--6);
    padding: calc(var(--theme-spacing--1) / 2);
    text-align: right;
  }

  &__breadcrumbs {
    padding: 0 0 0 9.25ch;
  }

  // small tweaks for list view
  &--list {
    position: sticky;
    top: 0;
    .c-page-header__container {
      position: relative;
    }
    .c-page-header__toc {
      position: absolute;
      width: fit-content;
      max-width: var(--theme-spacing--container-min);
      box-sizing: content-box;
      right: 0;
    }
  }

  &__picture {
    grid-area: container;
    animation: morph 32s ease-in-out infinite;
  }
}
