{{ define "main" }}
<article>
  <header class="l-page__header c-page-header">
    <img
      class="c-page-header__picture"
      src="{{.Site.BaseURL}}pictures/illos/icecream-robots.png"
      alt="friendly robots studying"
    />
    <div class="c-page-header__container">
      <h1 class="c-page-header__title e-heading__1">📅 {{.Title}}</h1>
      <h2 class="c-page-header__subtitle e-heading__2">
        {{.Params.backlog}}<a
          class="c-page-header__link"
          href="{{.Site.Params.org}}/{{.Params.backlog}}"
          >🔗</a
        >
      </h2>
      <nav class="c-page-header__breadcrumbs">
        {{ partial "breadcrumbs.html" . }}
      </nav>
    </div>
  </header>

  <section class="c-content">{{.Content}}</section>

  {{ partial "issues.html" .}}
</article>
{{ end }}
