{{ define "main" }}
<header class="c-page-header c-page-header--list">
  <!-- set up page header-->

  <div class="c-page-header__container">
    <h1 class="c-page-header__title e-heading e-heading__1">{{.Title}}</h1>

    <aside class="c-toc c-page-header__toc is-none--lt-container">
      <ol>
        {{ $parent := .FirstSection.Permalink}} {{ range .Site.Menus.tools }}
        <li>
          <a href="{{$parent}}{{.URL}}">{{.Name}}</a>
        </li>
        {{ end}}
      </ol>
    </aside>
  </div>
</header>

<!-- ordered views -->

<article class="{{ with .Content }}c-copy{{end}}">
  {{ .Content }}
  <ol class="c-timeline">
    {{ range (where (.Sections) ".Params.timeline" "=" true) }}
    <li class="c-timeline__entry">{{ partial "timeline.html" . }}</li>
    {{ end }}
  </ol>

  {{ range .Pages}} {{ partial "cells.html" . }} {{ end }}
</article>
{{ partial "breadcrumbs.html" . }} {{ end }}
