.l-header {
  @include grid-assign(title, main, menu, container);
  @include pattern(dots, var(--theme-color--pop), null, true, 0.5);
  grid-template:
    " . ......... . " var(--theme-spacing--gutter)
    " . container ." minmax(0, 1fr)
    " . ......... ." var(--theme-spacing--gutter)
    / minmax(var(--theme-spacing--gutter), 1fr) var(--theme-spacing--container) minmax(var(--theme-spacing--gutter), 1fr);

  &__container {
    display: grid;
    grid-template:
      "title main menu" min-content
      / 1fr 1fr min-content;
  }
  &__heading {
    font: var(--theme-font--brand);
    color: var(--theme-color--brand);
  }
  &__home {
    @include on-event {
      color: var(--theme-color--accent);
      outline: none;
    }
  }

  &__icon {
    grid-area: icon;
  }

  &__action {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    @include on-event {
      background-color: var(--theme-color--accent);
      color: var(--theme-color--contrast-max);
    }
  }
}
