.l-menu {
  --gap: var(--theme-spacing--gutter);
  @include grid-assign(heading, action, primary, secondary, container);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  visibility: hidden;

  border-right: 1px solid var(--theme-color--contrast-max);

  z-index: 1;

  &.is-active {
    visibility: visible;
    right: 0;
    outline: none;
    animation: slide-menu 0.8s ease-out forwards;
  }

  grid-template: "container" calc(100vh - calc(100vh - 100%)) / var(
      --theme-spacing--container
    );

  &__container {
    display: grid;
    grid-template:
      ". ....... ......... ......... ." var(--gap)
      ". heading heading   action    ." min-content
      ". ....... ......... ......... ." var(--gap)
      ". primary primary   primary   ." 1fr
      ". ....... secondary secondary ." var(--theme-spacing--touchtarget)
      ". ....... ......... ......... ." var(--gap) / var(--gap)
      1fr 1fr var(--theme-spacing--touchtarget) 0;
    align-items: center;
  }

  &__link {
    text-transform: lowercase;
    text-decoration: none;
  }

  &__heading {
    font: var(--theme-font--brand);
    background-color: var(--theme-color--accent);
    clip-path: var(--arrow--right);
  }
  &__home {
    @include on-event {
      outline: 1px dotted;
      color: var(--theme-color--accent);
    }
  }

  &__primary {
    @include backdrop(true, true, 1);
    display: grid;
    align-self: stretch;
    place-content: space-evenly;
  }

  &__secondary {
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes slide-menu {
  0% {
    transform: translateX(100vw);
  }
  40% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
